h1,
h2 {
  text-align: center;
  font: bold 50pt "Ubuntu";
}

section {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  row-gap: 50px;
  column-gap: 50px;
  justify-content: space-around;
}

img {
  width: 50%;
  height: 580px;
  object-fit: cover;
  border-radius: 20px;
  margin-right: 10px;
  cursor: pointer;
  transition: width 0.5s ease-in-out;
}

img:hover {
  width: 100%;
}

@keyframes float {
  0% {
    transform: translate(0px);
  }
  50% {
    transform: translate(-50px);
  }
  100% {
    transform: translate(50px);
  }
}

img:hover:last-child {
  text-align: center;
  transform: translate(0px);
  animation: float 5s ease-in-out infinite;
}

/* Second group */

.second-cards-group {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  padding: 50px;
}

.item {
  width: 10%;
  height: 580px;
  object-fit: cover;
  border-radius: 20px;
  margin-right: 10px;
  cursor: pointer;
  transition: width 0.5s ease-in-out;
}

img:hover {
  width: 100%;
}

@keyframes float {
  0% {
    transform: translate(0px);
  }
  50% {
    transform: translate(-50px);
  }
  100% {
    transform: translate(50px);
  }
}

img:hover:last-child {
  text-align: center;
  transform: translate(0px);
  animation: float 5s ease-in-out infinite;
}
